h1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: black;
}

.main-container {
  padding: 1rem;
  background-color: black;
  margin: 6rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
}