* {
  box-sizing: border-box;
}
.App {
  position: relative;
  color: #fff;
  background-image: url("./Image/Expense.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.Home {
  /* background-color: #8209b9;*/
  background-image: url("./Image/expense2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  /* overflow: hidden; */
}
